.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--grey-light-2);
  box-shadow: var(--shadow-light-dark);
  min-height: 50rem;
}
// ====================================================
.header {
  height: 8rem;
  background-color: #fff;
  border-bottom: var(--line);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
}
// ==================================================== 
.content {
  display: flex;
  //margin-top: 5rem;

  & .sidebar {
    background-color: var(--grey-dark-1);
    color: var(--grey-light-1);
    flex: 0 0 18%;
  }

  & .hotel-view {
    
    flex: 1;
    //height: 80rem;
  }
}
// ====================================================

.details{ //main class
  display: flex;
  column-gap: 4.5rem;
  padding: 4.5rem;
  background-color: var(--grey-light-3);
  border-bottom: var(--line);
  font-size: 1.4rem;
}
.description{  //inside details class
  background-color: #fff;
  flex: 0 0 70%;
  box-shadow: var(--shadow-light);
  padding: 3rem;
  
}
.user-review{ //inside details class
 
  flex: 1;
} 
