.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--grey-light-2);
  box-shadow: var(--shadow-light-dark);
  min-height: 50rem;
}
.header {
  height: 8rem;
  background-color: #fff;
  border-bottom: var(--gray-light-2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
}
 
.content {
  display: flex;
  //margin-top: 5rem;

  & .sidebar {
    background-color: var(--grey-dark-1);
    color: var(--grey-light-1);
    flex: 0 0 18%;
  }

  & .hotel-view {
    background-color: #f12f2f;
    flex: 1;
    height: 80rem;
  }
}
